<!DOCTYPE html>
<html lang="en">
<head>
  <title>해바라기반 반장선거</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    
<div class="container">
    <form action="/search" method="GET">
        <div class="mx-auto mt-5 search-bar input-group mb-3">
            <input name="q" type="text" class="form-control rounded-pill" placeholder="질문하세요">
            <div class="input-group-append">
            </div>
        </div>
    </form>
    <input type="text">
    <table class="table table-striped">
        <thead>
        <tr>
            <td><B>번호</B></td>
            <td><B>제목</B></td>
            <td><B>소개</B></td>
        </tr>
        </thead>
        <tbody>
        {% for work in works %}
        <tr>
            <td>{{work.id}}번</td>
            <td>{{work.title}}</td>
            <td>{{work.description}}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</body>
</html>